/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/databank_podracer_01_169_89a8621d.jpeg");
}

main#two-columns {
  display: flex;
}

main#two-columns section {
  max-width: 50vw;
}

section#accelerate button {
  height: 10vh;
  width: 10vh;
  margin: 5vw 5vh;
  border-radius: 180%;
  background-color: green;
  border-color: rgb(14, 166, 6);
  outline-color: transparent;
  cursor: pointer;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
